# Python bytecode:
*.py[co]

# Packaging files:
*.egg*
dist
MANIFEST

# Editor temp files:
*.swp
*~

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

*.pot
.idea
venv

# Mac OS crap
.DS_Store
